<% provide(:title, "Log in") %>

<div class = "main-content">
	<div class = "top">	
		<h1> Welcome to 'Sup </h1>
		<p> 
			A simple way to stay in the loop and never miss out on being where you want to.  
		</p>
	</div>
	
	<div class = "input">
		<h3> Need to know 'sup? Sign in </h3>
			<%= form_tag({controller: "sessions", action: "create"}, {method: "post", class: 				"form-vertical"}) do%>
				<div class = "element"><%= label_tag("Email") %></div>
				<div class = "element"><%= email_field_tag(:email, "myemail@email.com")%></div>
				<div class = "element"><%= label_tag("Password")%></div>
				<div class = "element"><%= password_field_tag(:password, :placeholder => "Password")%></div>
				<div class = "element"><%= submit_tag("Log In", class: "btn btn-primary") %></div>
			<% end %>
	</div>

	<div id = "sign-up">
		<h2> Don't have an account? <%=link_to 'Sign up', signup_path %></h2>
	</div>

</div>
