<% provide(:title, "Log in") %>

<div id = "landing">
	<div class = "top">	
		<h1> Welcome to 'Sup </h1>
		<p> 
			A simple way to stay in the loop and never miss out on being where you want to.  
		</p>
	</div>
	<form class = "form-vertical" role="form">
		<div id = "sign-in">
			<h2> Need to know 'sup? Sign in </h2>
				<%= bootstrap_form_for(@user, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>
				  <%= f.email_field :email, label: "Email", placeholder: "David@CS50.com" %>
				  <%= f.password_field :password, label: "Password", placeholder: "Password" %>
				  <!--%= f.check_box :user_id %-->
				  <%= f.submit "Log In" %>
				<% end %>
		</div>
		<div id = "sign-up">
			<h2> Don't have an account? Sign up </h2>
				<%= bootstrap_form_for(@user, url: new_user_path, class: "form-control") do |f| %>
					<% f.text_field :name, label: "Username", placeholder: "Cool Username" %>
					<% f.text_field :email, label: "Email", placeholder: "Malan@CS50.com" %>
					<% f.password_field :password, label: "Password"%>
					<%= f.password_field :password_confirmation, label: "Confirm Password", placeholder: "Confirm" %>
					<% f.text_field :firstName, "First Name" %>
					<% f.text_field :lastName, "Last Name" %>
					<% f.submit "Sign Up", class: "btn btn-primary" %>	
				<% end %>
		</div>
	</form>
</div>
			  