<% provide(:title, "Log in") %>

<div id = "landing">
	<div class = "top">	
		<h1> Welcome to 'Sup </h1>
		<p> 
			A simple way to stay in the loop and never miss out on being where you want to.  
		</p>
	</div>
	<span class = "row form.horizontal" id = "sign-in">
		<h2> Need to know 'sup? Sign in </h2>
		<% bootstrap_form_for(@session, url: login_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email, class: 'form-control' %>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= f.submit "Log In", class: "btn btn-primary" %>
		<% end %>
	</span>
	
	<span class = "row form.horizontal" id = "sign-up">
		<h2> Don't have an account? Sign up </h2>
		<% form_for(:user, url: new_user_path) do |f| %>
			<% f.label :name, "Username" %>
			<% f.text_field :name %>
			<% f.label :email  %>
			<% f.text_field :email %>
			<% f.label :password  %>
			<% f.password_field :password %>
			<% f.label :firstName, "First Name" %>
			<% f.text_field :firstName %>
			<% f.label :lastName, "Last Name" %>
			<% f.text_field :lastName %>
			<% f.submit "Sign Up", class: "btn btn-primary" %>			
		<% end %>
	</span>
</div>
