<% provide(:title, "New Event") %>

<div>
  <!-- This draws on a custom twitter bootstrap gem for rails for styling as per https://github.com/stouset/twitter_bootstrap_form_for: -->
  <div id = "eventname">
  	<%=twitter_bootstrap_form_for @event, layout: 'vertical', default_div_class: 'col-lg-10 (default)', role: 'form (default)' do |event| %>
      <!-- wraps a section in a fieldset with the provided legend text -->
      <%= event.inputs 'Create Event', :class => 'sign_up' do %>
        <%= event.text_field :title, :placeholder => 'Event Title', div_class: 'col-md-6')%>
        <textarea class = "form-control input-lg" rows = "3"><%= event.text_field :description, :placeholder => 'Event Description', div_class: 'col-md-6', div_id: %></textarea>
      <%= event.inputs 'Event Name', :class => 'sign_up' do %>
    <!-- generates a standard email field; also showing overriding the div_class around the input element on a horizontal form -->
        <%= event.text_field :title, :placeholder => 'Event Title', div_class: 'col-md-6'%>
        <%= event.date_select :date, 'Date:', {}, :class => 'small'%>
        <% event.time_select :startTime, 'Start Time: ', :class => 'small'%>
        <% event.time_select :endTime, 'End Time: ', :class => 'small'%>

    <!-- Checkbox for public event - generates 1 if checked -->
      <%= user.toggles 'I would like this event to be public' do
      = event.check_box :public %>
    <!-- Submit --> 
    <%= user.actions do %>
      <%= event.submit 'Create Event'%>
      <%= button_tag  'Cancel', :type => 'reset', :class => 'btn'%>
  <% end %>
</div>