
<!-- General application layout for all pages except login/register. Declares a navigation bar and a footer -->


<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Sup </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class = "navbar navbar-fixed-top navbar-inverse">
		<div class = "container custnav">
			<%= link_to "'SUP", '#', id: 'logo' %> 
			<% if logged_in? %>
				<nav>
					<ul class = "nav navbar-nav pull-right">
						<li><%= link_to "Home", home_path %></li>
						<li><%= link_to "My Profile", myprofile_path %></li>
						<li><%= link_to "Sign Out", logout_path %></li>
					</ul>
				</nav>
			<% else %>
          		<li><%= link_to "Log in", login_path %></li>
        	<% end %>
		</div>
	</header>
	<div id = "content" class = "containter">
		<%= yield %>
	</div>
	<div id = "footer">
		<div class = "container">
			<p>
				<small class = "muted credit"> Terms and Conditions </small>
			</p>
		</div>
	</div>


<%= yield %>


</body>
</html>
