

<!-- General application layout for all pages except login/register. Declares a navigation bar and a footer -->


<!-- General application layout for all pages except login/register. Declares a navigation bar and a footer -->

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Sup </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class = "navbar navbar-fixed-top navbar-inverse custnav">
		<div class = "navbar-inner">
			<div class = "container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
        		</a>
				<%= link_to "'SUP", '#', id: 'logo' %> 
					<nav>
						<% if logged_in? %>
							<ul class = "nav navbar-nav pull-right">
								<li><%= link_to "Home", home_path %></li>
								<li><%= link_to "My Profile", myprofile_path %></li>
								<li><%= link_to "Sign Out", logout_path %></li>
							</ul>
	        			<% end %>
					</nav>
		</div>
	</header>
	<div id = "content" class = "containter">
		<%= yield %>
	</div>
	<div id = "footer">
		<div class = "container">
			<p>
				<small class = "muted credit"> Terms and Conditions </small>
			</p>
		</div>
	</div>
</body>
</html>
