<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Sup </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class = "navbar navbar-fixed-top navbar-inverse">
		<div class = "container custnav">
			<%= link_to "'SUP", '#', id: 'logo' %> 
			<nav>
				<ul class = "nav navbar-nav pull-right">
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "My Profile", '#' %></li>
					<li><%= link_to "Sign Out", '#' %></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id = "content" class = "containter">
		<%= yield %>
	</div>
	<div id = "footer">
		<div class = "container">
			<p class = "muted credit"> Terms and Conditions </p>
		</div>
	</div>
</body>
</html>
